$desatRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGreyishRed: hsl(0, 6%, 24%);


body{
    margin: 0px;
}

#logo{
    height: 20px;
    margin: 33px auto auto 32px;
}

#hero{
    margin-top: 27px;
    width: 100%;
}


main{
    text-align: center;
}


h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform:uppercase;
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 42px;
}

#tagline-a{
    font-weight: 300;
    color: $desatRed;
    margin: 58px 0px 0px 0px;
    letter-spacing: 11px;
}

#tagline-b{
    font-weight: 600;
    color: $darkGreyishRed;
    margin: 0px 0px 0px 0px;
}

p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14.5px;
    color: $desatRed;
    margin: 16px 30px 0px 30px;
    line-height: 22px;
}

#email-input-section{
    text-align: center;
    margin: 33px auto auto auto;
    label{
        display: none;
    }
}

#email-input{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: $desatRed;
    height: 42px;
    border-radius: 21px;
    border: 1px solid $desatRed;
    padding-left: 10px;
}

#submit-btn{
    margin: auto auto auto auto;
    height: 44px;
    border-radius: 21px;
    border: none;
    color: white;
    
}