body{
    margin: 0px;
}

#logo{
    height: 20px;
    margin: 33px auto auto 32px;
}

#hero{
    margin-top: 25px;
    width: 100%;
}


main{
    text-align: center;
}


h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform:uppercase ;
}

h2{

}