$white: hsl(0, 0%, 100%);
$desatRed: hsl(0, 36%, 70%);
$softRed: hsl(0, 93%, 68%);
$darkGreyishRed: hsl(0, 6%, 24%);

$lightGrey: hsl(0, 16%, 83%);
$veryLightGreen: hsl(58, 83%, 84%);
$lightGreen: hsl(359, 86%, 78%);

$greyHover: hsl(0, 78%, 91%);
$errorRed: hsl(360, 89%, 67%);


body{
    margin: 0px;
    background-color: $white;
}

#logo{
    height: 20px;
    margin: 33px auto auto 32px;
}

#hero-mobile{
    margin-top: 27px;
    width: 100%;
}

#hero-desktop{
    display: none;
}


main{
    text-align: center;
}

#text-section{
    margin-bottom: 80px;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    text-transform:uppercase;
    font-size: 40px;
    letter-spacing: 10px;
    line-height: 42px;
}

#tagline-a{
    font-weight: 300;
    color: $desatRed;
    margin: 58px 0px 0px 0px;
    letter-spacing: 11px;
}

#tagline-b{
    font-weight: 600;
    color: $darkGreyishRed;
    margin: 0px 0px 0px 0px;
}

#main-paragraph{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14.5px;
    color: $desatRed;
    margin: 16px 30px 0px 30px;
    line-height: 22px;
}

#email-input-section{
    margin: 32px 31px auto 33px;
    position: relative;

    label{
        display: none;
    }
}

#email-input{
    width: 100%;
    height: 48px;
    box-sizing: border-box;

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    padding-left: 24px;
    padding-top: 4px;
    color: $darkGreyishRed;

    border-radius: 25px;
    border: 1px solid;
    border-color: $lightGrey;

}

::placeholder{
    color: $desatRed;
}

#submit-btn{
    position: absolute;
    top: 0px;
    right: 0px;

    height: 48px;
    width: 65px;
    border:none;
    border-radius: 25px;

    background: linear-gradient(100deg, $veryLightGreen, $lightGreen);
}

#submit-btn:hover{
    background: none;
    background-color: $greyHover;
    box-shadow: 2px 3px 10px black;
}

#email-error-msg{
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    top: 42px;
    left: 25px;

    font-size: 12.8px;
    font-weight: 600;
    color: $errorRed;
    display: none; //default for when no error is needed
}

#email-error-icon{
    position: absolute;
    right: 70px;
    top: 12px;

    display: none; //default for when no error is needed
}


footer{
    position: fixed;
    right: 0px;
    bottom: 0px;

    p{
        font-size: 10px;
        font-family: 'Josefin Sans', sans-serif;
    }
}

.email-section-error{
    #email-input{
        border-color: $errorRed;
        border-width: 2px;
    }

    #email-error-icon{
        display: unset;
    }

    #email-error-msg{
        display: unset;
    }
    
}


//Desktop view
@media only screen and (min-width = 1000px){
    body{
        display: grid;
        grid-template-columns: 58% 42%;
        grid-template-rows: 100%;
        overflow: hidden;
        background: url("./images/bg-pattern-desktop.svg");
        background-position: 0 0;
    }

    #hero-mobile{
        display: none;
    }


    #hero-desktop{
        display: block;
        grid-column: 2;
        grid-row: 1;
        width: 100%;
        object-position: center top;
        
    }

    #text-section{

        text-align: left;
        grid-column: 1;
        grid-row: 1;
        width: 50%;

        margin: 174px auto auto 164px;

        #main-paragraph{
            font-size: 16px;
            margin: 22px auto auto auto;
            line-height: 28px;
        }
    }


    #logo{
        position: absolute;
        top: 32px;
        left: 134px;
        height: 32px;
    }

    h1{
        margin: unset;
        font-size: 67px;
        letter-spacing: 17px;
        line-height: 68px;
    }

    #email-input-section{
        margin: 40px auto auto 0px;
        width: max(443px, 100%);
    }

    #email-input{
        height: 56px;
        border-radius: 30px;
        font-size: 16px;
        padding-left: 29px;
    }

    #submit-btn{
        height: 55px;
        width: 100px;
        border-radius: 30px;
    }

    #email-error-icon{
        top: 16px;
        right: 114px;
    }

    #email-error-msg{
        top: 53px;
        left: 32px;
    }

    footer{
        left: 0px;
    }


    //Desktop for low height
    @media only screen and (max-height = 720px){
        body{
            overflow: unset;
        }

        #text-section{
            margin-top: 100px;
        }
    }

}

    
